# Modified by Eric Chernuka for Pint Progress. See NOTICE for details.
*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/docs/*
!/docs/KAROO_DATA_FIELD_CONTRACT.md
!/docs/TEST_BOUNDARY.md
!/docs/images/
!/docs/images/pint-progress-preview.svg
!/docs/images/pint-progress-preview.png
